services:
  mlflow_server:
    image: ghcr.io/mlflow/mlflow:v2.19.0
    ports:
      - "5000:5000"
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
    command: >
      mlflow server
      --backend-store-uri sqlite:////backend_store/mlflow.db
      --default-artifact-root ${MLFLOW_S3_BUCKET}
      --host 0.0.0.0
      --port 5000
    volumes:
      - ./backend_store:/backend_store

  trainer:
    build: .
    command: python src/app.py
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow_server:5000
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - MLFLOW_S3_BUCKET=${MLFLOW_S3_BUCKET}
    depends_on:
      - mlflow_server
    volumes:
      - .:/app

  api:
    build: .
    command: uvicorn src.serve:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow_server:5000
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
    depends_on:
      - mlflow_server
      - trainer
    volumes:
      - .:/app
