@import "tailwindcss";

body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("https://images.pexels.com/photos/1604141/pexels-photo-1604141.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
